# Kedro Core Libs
ipython>=8.10
jupyterlab>=3.0
kedro~=0.19.5
kedro-datasets>=3.0; python_version >= "3.9"
kedro-datasets>=1.0; python_version < "3.9"
kedro-viz>=6.7.0
notebook
ruff~=0.1.8

# Project Libs
jax==0.4.26
jaxlib==0.4.26
numpyro==0.14.0
pymc_marketing==0.5.0